package collections

type {{ .Name }}List struct {
	items []{{.GoType}}
}

// NewStringList ..
func New{{.Name}}List(items []{{.GoType}}) *{{.Name}}List {
	return &{{.Name}}List{
		items: items,
	}
}

// Get returns the underlying type value for this collection.
func (s *{{.Name}}List) Get() []{{.GoType}} {
	return s.items
}

func (s *{{.Name}}List) Map(f func({{.GoType}}) {{.GoType}}) *{{.Name}}List {
	result := []{{.GoType}}{}
	for _, item := range s.items {
		result = append(result, f(item))
	}

	s.items = result
	return s
}

// Filter will remove items from a sequence that match a given
// predicate function.
func (s *{{.Name}}List) Filter(f func({{.GoType}}) bool) *{{.Name}}List {
	result := []{{.GoType}}{}
	for _, item := range s.items {
		if !f(item) {
			result = append(result, item)
		}
	}

	s.items = result
	return s
}

// Select will return items from a sequence that match a given
// predicate function.
func (s *{{.Name}}List) Select(f func({{.GoType}}) bool) *{{.Name}}List {
	result := []{{.GoType}}{}
	for _, item := range s.items {
		if f(item) {
			result = append(result, item)
		}
	}

	s.items = result
	return s
}

func (s *{{.Name}}List) Any(f func({{.GoType}}) bool) bool {
    for _, v := range s.items {
        if f(v) {
            return true
        }
    }
    return false
}

// All returns true if all of the items in the slice satisfy the predicate f.
func (s *{{.Name}}List) All(f func({{.GoType}}) bool) bool {
    for _, v := range s.items {
        if !f(v) {
            return false
        }
    }
    return true
}

// TODO

// Take
// TakeWhile
// Reverse
